<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="li">
<head>
    <title> Forum detals </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">
</head>
<body>

<header th:insert="bloks/header :: header"></header>

<div class="container mt-5">
    <h1 style="text-align: center">Forum</h1>
    
    <div th:each="el : ${post}" class="alert alert-info mt-2">


        <h1 th:text="${el.title}" style="text-align: center"></h1>
        <p th:text="${el.fullText}"></p>
        <p> <strong>Vievs </strong> <span th:text="${el.views}"></span> </p>
        <a th:href="'/blog/' + ${el.id} +'/edit'" class="btn btn-warning"> Editing </a>
        <br>
        <br>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">

        <button class="btn btn-warning" type="submit"> Delet </button>
        </form>

    </div>


    <div class="container mt-5">

        <div th:each="comment:${comments}" class="alert alert-info mt-2">
            <td th:text="${comment.text}"></td>
            <td th:text="${comment.createdDate}"></td>
            <td th:text="${comment.employe.firstName}"></td>
        </div>
        <br>

            <form action="/addComment/" method="post">

                <input type="hidden" th:value="${post.id}" name="post.Id">

                            <label>
                    <textarea rows="2" cols="165"  name="text" placeholder="add your comment" class="form-control" ></textarea>
                </label>
                <br>
                <br>

                <button class="btn btn-warning" type="submit"> Add comment </button>
            </form>

        </div>
</div>
<div th:insert="bloks/footer :: footer"></div>
</body>
</html>
