<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloks/header :: header"></header>

<div class="container mt-5">

    <form class="addCompanyForm" action="/sendMessage" method="post">
        <label>
            <textarea rows="2" cols="165" name="sms" ></textarea>
        </label>
        <br>
        <br>
        <label>
            <select name="toEmployee.id">
                <option th:each="employee: ${employees}" th:text="${employee.firstName}" th:value="${employee.id}"></option>
            </select>
        </label>
        <br>
        <br>
        <button style="text-align: center" type="submit" class="btn btn-success"> send </button>

    </form>
</div>
<div th:insert="bloks/footer :: footer"></div>
</body>
</html>