<div th:fragment="header">

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Register</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/company" class="nav-link">Companies</a></li>
                <li class="nav-item"><a href="/company/add" class="nav-link">Add Companies</a></li>
                <li class="nav-item"><a href="/employe" class="nav-link">Employe</a></li>
                <li class="nav-item"><a href="/employe/add" class="nav-link">Add Employe</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About us</a></li>
            </ul>
        </header>
    </div>
</div>